<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.example.demo.Menu">
    <insert id="createMenu" parameterType="Menu">
        insert into menu
            (name, path, parent_id, sequence, created_at, updated_at)
        values (#{name}, #{path}, #{parentId}, #{sequence}, now(), now())
    </insert>
    <update id="updateMenu" parameterType="Menu">
        update menu
        set name=#{name},
            path=#{path},
            parent_id=#{parentId},
            sequence=#{sequence},
            updated_at = now()
        where id = #{id}
    </update>
    <select id="getMenuById" resultType="Menu">
        select *
        from menu
        where id = #{id}
    </select>
    <select id="getMenuByName" resultType="Menu">
        select *
        from menu
        where name = #{name}
    </select>
    <select id="getAll" resultType="Menu">
        select *
        from menu
    </select>
    <delete id="deleteMenu">
        delete
        from menu
        where id = #{id}
    </delete>
    <select id="findMaxSequence" resultType="Integer">
        select max(sequence)
        from menu
    </select>
    <select id="getSibling" parameterType="Menu" resultType="Menu">
        select * from menu
        <where>
            <if test="parentId == null">
                parent_id is null
            </if>
            <if test="parentId != null">
                parent_id = #{parentId}
            </if>
        </where>
    </select>
</mapper>
