<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.example.demo.ResourceCategroy">
    <insert id="createResourceCategroy" parameterType="ResourceCategroy">
        insert into resource_categroy
            (name, sequence, created_at, updated_at)
        values (#{name}, #{sequence}, now(), now())
    </insert>
    <update id="updateResourceCategroy" parameterType="ResourceCategroy">
        update resource_categroy
        set name=#{name},
            sequence=#{sequence},
            updated_at = now()
        where id = #{id}
    </update>
    <select id="getResourceCategroyById" resultType="ResourceCategroy">
        select *
        from resource_categroy
        where id = #{id}
    </select>
    <select id="getResourceCategroyByName" resultType="ResourceCategroy">
        select *
        from resource_categroy
        where name = #{name}
    </select>
    <select id="getAll" resultType="ResourceCategroy">
        select *
        from resource_categroy
    </select>
    <delete id="deleteResourceCategroy">
        delete
        from resource_categroy
        where id = #{id}
    </delete>
    <select id="getList" resultType="ResourceCategroy">
        select *from resource_categroy
        <where>
            <if test="name != null">
                name like concat('%',#{name},'%')
            </if>
        </where>
    </select>
</mapper>
