<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.mgl.purity.dao.TestDao">
    <insert id="insert">
        insert into t_test(name, created_at)
        values (#{name},now());
    </insert>
    <update id="update">
        update t_test
        set name       = #{name},
            updated_at = now()
        where id = #{id};
    </update>
    <delete id="delete">
        delete
        from t_test
        where id = #{id};
    </delete>
    <select id="getAll" resultType="cn.mgl.purity.model.persistent.MyTest">
        select *
        from t_test;
    </select>
    <select id="getById" resultType="cn.mgl.purity.model.persistent.MyTest">
        select *
        from t_test
        where id = #{id};
    </select>
    <select id="getByName" resultType="cn.mgl.purity.model.persistent.MyTest">
        select *
        from t_test
        where name = #{name};
    </select>
</mapper>
