<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <typeAliases>
        <package name="com.example.demo.model"/>
    </typeAliases>
    <!--    <plugins>-->
    <!--        &lt;!&ndash; com.github.pagehelper为PageHelper类所在包名 &ndash;&gt;-->
    <!--        <plugin interceptor="com.github.pagehelper.PageInterceptor">-->
    <!--            &lt;!&ndash; 对应的数据库分页方式，可不写，会自动检测 &ndash;&gt;-->
    <!--            <property name="helperDialect" value="mysql"/>-->
    <!--            &lt;!&ndash; pageNo<0是会查找第一页 &ndash;&gt;-->
    <!--            <property name="reasonable" value="true"/>-->
    <!--        </plugin>-->
    <!--    </plugins>-->
    <mappers>
        <mapper resource="db/mybatis/mapper/UserMapper.xml"/>
        <mapper resource="db/mybatis/mapper/MenuMapper.xml"/>
        <mapper resource="db/mybatis/mapper/ProjectMapper.xml"/>
        <mapper resource="db/mybatis/mapper/ResourceMapper.xml"/>
        <mapper resource="db/mybatis/mapper/ResourceCategroyMapper.xml"/>
        <mapper resource="db/mybatis/mapper/RoleMapper.xml"/>
        <mapper resource="db/mybatis/mapper/DepartmentMapper.xml"/>
<!--        <package name="com.example.demo.dao"/>-->
    </mappers>
</configuration>
